.viewshopsmain-container{
   min-height: 100vh;
  background-color: #f2f2f2;
}
.filter-container .filter{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
}
.filter-container .m-2{
    padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  width: 15rem;
}